body {
    color: #405145;
    margin: 0px;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.25rem;
    margin: 50px auto 0 auto;
    font-family: "Ms Madi", cursive;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 15px;
}

h3 {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
}

p {
    line-height: 1.5;
}

a {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #E8F6F6
}

.i-img {
    height: 120px;
    width: 120px;

}

.ii-img {
    height: 180px;
    width: 160px;
    float: left;
    margin-right: 15px;

}

.iii-img {
    height: 180px;
    width: 190px;
    float: right;
    margin-left: 15px;

}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

 }

 .middle-container {
    margin: 50px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;


}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300pm
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 160px auto 160px auto;

}

.intro {
    width: 30%;
    margin: auto;

}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
    background-image: -o-linear-gradient(top, #11cdd4, #11999a);
    background-image: linear-gradient(to bottom, #11cdd4, #11999a);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cd;
    background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
    text-decoration: none;
}

.insta {
    position: relative;
    top: 4px;
    right: -22px;
    height: 18px;
    width: 20px;


}

.X {
    position: relative;
    top: 2px;
    right: -20px;
    height: 15px;
    width: 18px;
}

.website {
    position: relative;
    top: 2px;
    right: -20px;
    height: 15px;
    width: 18px;
}